/* css */

* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'Objectivity';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/Objectivity-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Objectivity Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/Objectivity-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Objectivity Light';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/Objectivity-Light.woff') format('woff');
}

@font-face {
  font-family: 'Subjectivity Serif';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/SubjectivitySerif-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Subjectivity Serif Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/SubjectivitySerif-Bold.woff2') format('woff2');
  }

body {
  background: #FFFFFF;
}

/* header */

#header a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: Objectivity Bold;
  letter-spacing: 1px;
  font-size: 14px;
}

.arrow-nav {
  margin-left: 12px;
  transform: rotate(0deg);
  transition: 1s;
}

#header {
  box-sizing: border-box;
  height: 64px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2A28B7;
}

#menu {
  display: flex;
  list-style: none;
  gap: 40px;
  margin-right: 145px;
}

#logo {
  margin-left: 145px;
}

#serviceContent {
  display: block;
  position: absolute;
  background-image: url(../../assets/images/ServiceDdBox.svg);
  background-repeat: no-repeat;
  background-position: top;
  height: 0px;
  width: 225px;
  top: 78px;
  margin-left: -64px;
  padding-left: 0px;
  padding-right: 0px;
  z-index: 1;
  text-align: center;
  visibility: hidden;
  transition: 500ms;
  overflow-y: hidden;
}

#menuService {
  display: block;
  list-style: none;
}

#menuService li {
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#menuService li:first-child {
  margin-top: 10px;
}

#menuService li:last-child {
  border-bottom: none;
}

#menuService li #adsBtn {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

#serviceDropdown:hover #serviceContent {
  height: 194px;
  visibility: visible;
}

#serviceDropdown:hover .arrow-nav img {
  transform: rotate(-180deg);
  transition: 500ms;
}

/* main */

.mainSections {
  padding-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.farIcons {
  margin-bottom: 40px;
}

.closeIcons {
  margin-bottom: 24px;
}

.closerIcons {
  margin-bottom: 16px;
}

/* main cover section */

#mainCoverSection {
  padding-top: 160px;
  padding-bottom: 120px;
  background-color: #0E0E0E;
  background-image: url(../../assets/images/Cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;  
}

#mainTitle {
  width: 540px;
  height: 140px;
  margin-bottom: 40px;
}


#mainTitle h1 {
  color: #FFFFFF;
  font-family: Subjectivity Serif Bold;
  font-size: 64px;
  line-height: 100%;
}

#flashIcon {
  transform: translateY(3px);
}

#instantBudgetBtn {
  display: inline-block;
  border: none;
  color: #FFFFFF;
  background: #2A28B7;
  padding: 16px 32px;
  border-radius: 200px;
  text-align: center;
  font-family: Objectivity Bold;
  cursor: pointer;
}

.blocks {
  width: 540px;
}

.title {
  font-family: Subjectivity Serif Bold;
  font-size: 48px;
  line-height: 49px;
}

.subtitle {
  font-family: Objectivity;
  font-size: 18px;
}

.bold {
  font-family: Objectivity Bold;
}

/* why section */

#whySection {
  padding-bottom: 77px;
}

#whyTitle {
  margin-bottom: 32px;
  color: #2A28B7;
}

#whySubtitle {
  font-size: 16px;
  letter-spacing: -0.05em;
  line-height: 21px;
  color: #333333;
}

/* how section */

#howSection {
  background-color: #2A28B7;
  padding: 80px 0;
  color: #FFFFFF;
}

#howTitle {
  margin-bottom: 14px;
  color: #F2F2F2;
}

#howSubtitle {
  font-family: Objectivity Light;
  line-height: 21px;
  margin-bottom: 40px;
}

.howBlocks {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.howBlock {
  padding: 40px 96px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  gap: 64px;
}

.howBlockTitle {
  font-family: Objectivity Bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.howBlockSubtitle {
  font-family: Objectivity Light;
  font-size: 16px;
  line-height: 18px;
}

.howArrow {
  height: 6px;
}

/* budget section */

/* .budgetSection {

} */

#budgetTitleBlock {
  margin-bottom: 58px;
}

#budgetIcon {
  height: 64px;
}

#budgetTitle {
  color: #2A28B7;
  margin-bottom: 17px;
}

#budgetSubtitle {
  font-family: Objectivity Light;
  width: 352px;
  margin: 0 auto;
  line-height: 21px;
}

.instantBudgetBlocks {
  width: 1100px;
}
.instantBlock {
  padding: 64px 0;
  border: 1px solid #E0E0E0;
  border-bottom-style: none;
}

.instantInternalBlock {
  width: 540px;
  margin: 0 auto;
}

.instantStepsNumber {
  font-family: Subjectivity Serif Bold;
  font-size: 64px;
  line-height: 66px;
  letter-spacing: -0.07em;
  color: #2A28B7;
  margin-bottom: 24px;
}

.instantStepsTitle {
  font-family: Objectivity;
  font-size: 40px;
  line-height: 41px;
  color: #0E0E0E;
  margin-bottom: 40px;
}

.platformsChoices {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.platforms {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;

  font-family: Objectivity Bold;
  font-size: 16px;
  line-height: 16px;
  color: #2A28B7;
  letter-spacing: -0.07em;

  padding: 12px 16px;
  cursor: pointer;  
  border: 2px solid rgba(42, 40, 183, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  user-select: none;
  transition: 300ms;
}

.uncheckedBox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 2px solid #2A28B7;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: none;
  background-position: center;
}

.platforms .hide:checked ~ .uncheckedBox{
  background-image: url(../../assets/icons/CheckmarkIcon.svg);
}

.stepDays {
  display: inline-flex;
  gap: 22px;
  border: 2px solid #2A28B7;
  box-sizing: border-box;
  border-radius: 26px;
  padding: 8px 14px;
  user-select: none;
}

#addDays, #reduceDays {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transition: 300ms;
  cursor: pointer;
}

#reduceDays {
  pointer-events: none;
}

#addDays:hover, .reduce.hover:hover{
  background-color: rgba(42, 40, 183, 0.1);
}

#addDays:active, .reduce.active:active{
  background-color: rgba(42, 40, 183, 0.5);
  transition: 100ms;
}

#days {
  font-family: Objectivity Bold;
  font-size: 16px;
  line-height: 16px;
  color: #2A28B7;
  transform: translateY(6px);
}

#addIcon {
  position: relative;
  transform: translate(0%, 30%);
  }

#reduceIcon {
  position: relative;
  transform: translate(0%, -80%);
}

.toggle {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.toggleYesNo {
  font-family: Objectivity Bold;
  font-size: 15px;
  line-height: 15px;
  color: #2A28B7;

  padding: 10px 30px;

  border: 2px solid #2A28B7;
  box-sizing: border-box;
  border-radius: 200px;
  cursor: pointer;
  user-select: none;
  transition: 300ms;
}

.toggleYesNo:hover {
  background-color: rgba(42, 40, 183, 0.1);
}

.toggleYesNo.active {
  color: #FFFFFF;
  background: #2A28B7;
  cursor: default;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contactFields {
  width: 350px;
  height: 50px;
  border: 2px solid #333333;
  box-sizing: border-box;
  border-radius: 200px;
  padding: 16px 24px;
  font-family: Objectivity;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  outline: 0;
  transition: 300ms;
}

.contactFields::placeholder {
  color: #BDBDBD;
  opacity: 1;
  transition: 300ms;
  line-height: 60px;
}

.contactFields:focus::placeholder {
  color: rgba(42, 40, 183, 0.3);
  opacity: 1;
}

.contactFields:focus {
  border: 2px solid #2A28B7;
  color: #2A28B7;
}

.contactFields.invalid:invalid {
  border: 2px solid red;
}